/.CFUserTextEncoding
/.DS_Store
/.Trash
/.cups
/.idlerc
/.python_history
/.vscode
/.zprofile
/.zsh_history
/CoreBrightness-backup
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/tg.bot
/tg_bot.py